<div id="account_page" class="account_page">
  <div class="account_page__inner">
    <div class="account_page__header">
      <h2>転クエ掲示板</h2>
      <h5>新規登録</h5>
    </div>
    <div class="account_page__inner--user_form">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <div class="field_input">
            <%= f.text_field :name, autofocus: true, placeholder: '名前' %>
          </div>
        </div>
        <div class="field">
          <div class="field_input">
            <%= f.email_field :email, autocomplete: "email", placeholder: 'メールアドレス' %>
          </div>
        </div>
        <div class="field">
          <div class="field_input">
            <%= f.password_field :password, autocomplete: "new-password", placeholder: 'パスワード(英数字を含む8文字以上32文字以下)' %>
          </div>
        </div>
        <div class="field">
          <div class="field_input">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'パスワード(確認用)' %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit "新規登録", class: "btn" %>
        </div>
      <% end %>
    </div>
    <div class="devise_links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>