<div class="post_wrapper">
  <div class="post_wrapper__header">
    <h3>
      <span>投稿一覧</span>
    </h3>
  </div>
  <div class="post_wrapper__content">
    <ul class="post_wrapper__content__post_list">
      <% if @posts.length == 0 %>
        <h3>まだ投稿されたスレッドはありません。</h3>
      <% else %>
        <% @posts.each do |post| %>
          <li>
            <%= link_to post_path(post) do %>
              <div class="post">
                <div class="post__top_box">
                  <div class="post__top_box__name">
                    <span>投稿者：<%= post.user.name %></span>
                  </div>
                  <div class="post__top_box__time">
                    <span>投稿日時：<%= post.updated_at.strftime("%Y-%m-%d %H:%M") %></span>
                  </div>
                </div>
                <div class="post__middle_box">
                  <span><%= post.content %></span>
                </div>
                <div class="post__bottom_box">
                  <ul class="post__bottom_box__user_actions">
                    <li>
                      <i class="far fa-comment-alt"></i>
                      <span><%= post.comments.length %></span>
                    </li>
                    <li>
                      <i class="far fa-heart"></i>
                      <span>いいね数</span>
                    </li>
                  </ul>
                  <% if user_signed_in? && post.user_id == current_user.id %>
                    <ul class="post__bottom_box__admin_actions">
                      <li><%= link_to "編集", edit_post_path(post.id) %></li>
                      <li><%= link_to "削除", post_path(post.id), method: :delete , data: {confirm: "本当に削除して良いですか?",cancel: "やめる",commit: "削除する"},title: "削除確認" %></li>
                    </ul>
                  <% end %>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>