<div class="post_wrapper">
  <% breadcrumb :post_show, @post %>
  <%= render "layouts/breadcrumbs" %>
  <div class="post_wrapper__header">
    <h3>
      <span>投稿詳細</span>
    </h3>
    <div class="back_link">
      <%= link_to root_path do %>
        <i class="fas fa-angle-double-left"></i>
        <span>一覧へ戻る</span>
      <% end %>
    </div>
  </div>
  <div class="post_wrapper__content scroll">
    <div class="post_wrapper__content__post_show">
      <div class="post_detail">
        <div class="post_detail__top_box">
          <div class="post_detail__top_box__name">
            <span>投稿者：<%= @post.user.name %></span>
          </div>
          <div class="post_detail__top_box__name">
            <span>投稿日時：<%= show_created_time(@post.created_at) %></span>
          </div>
        </div>  
        <div class="post_detail__middle_box">
          <span><%= @post.text %></span>
        </div>
        <div class="post_detail__bottom_box">
          <ul class="post_detail__bottom_box__user_actions">
            <li>
              <% if user_signed_in? %>
                <i class="far fa-comment-alt"></i>
                <span><%= array_count(@post.comments)%></span>
              <% else %>
                <%= link_to new_post_comment_path(@post.id), class: "post_action_btn" do %>
                  <i class="far fa-comment-alt"></i>
                  <span><%= array_count(@post.comments)%></span>
                <% end %>
              <% end %>
            </li>
            <li>
              <% if user_signed_in? && current_user.already_liked?(@post) %>
                <% like = Like.find_by(user_id: current_user.id, post_id: @post.id) %>
                <%= link_to post_like_path(@post.id, like.id), method: :delete, class: "post_action_btn post_liked" do %>
                  <i class="fas fa-heart"></i>
                  <span><%= array_count(@post.likes)%></span>
                <% end %>
              <% else %>
                <%= link_to post_likes_path(@post.id), method: :post, class: "post_action_btn" do %>
                  <i class="far fa-heart"></i>
                  <span><%= array_count(@post.likes)%></span>
                <% end %>
              <% end %>
            </li>
          </ul>
          <% if @post.user == current_user %>
            <div class="post_detail__bottom_box__admin_actions">
              <%= link_to '削除', post_path(@post.id), method: :delete, data: { confirm: '本当に削除して良いですか?', cancel: 'やめる', commit: '削除する', disable_with: "処理中..."}, title: '削除確認' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="comment_area">
      <% if @comments.count != 0 %>
        <ul class="comment_area__list">
          <% @comments.each do |comment| %>
            <li class="comment_area__list__comment">
              <div class="comment_area__list__comment__left_box">
                <span><%= comment.user.name %></span>
              </div>
              <div class="comment_area__list__comment__right_box">
                <div class="comment_area__list__comment__right_box__info">
                  <% if comment.user == current_user %>
                    <span>
                      <%= link_to '編集', edit_post_comment_path(@post, comment.id) %>
                    </span>
                    <span>
                      <%= link_to '削除', post_comment_path(@post, comment.id), method: :delete, data: { confirm: '本当に削除して良いですか?', cancel: 'やめる', commit: '削除する', disable_with: "処理中..."}, title: '削除確認'  %>
                    </span>
                  <% end %>
                  <span>投稿日時：<%= show_created_time(comment.created_at) %></span>
                </div>
                <div class="comment_area__list__comment__right_box__text">
                  <span><%= comment.text %></span>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      <% end %>
      <% if user_signed_in? %>
        <div class="comment_area__form_box">
          <%= form_with(model: [@post, @comment], local: true, class: "comment_area__form_box__form") do |form| %>
            <div class="comment_area__form_box__form__field">
              <%= form.text_area :text, placeholder: "コメントを入力", rows: "2", autofocus: :true %>
            </div>
            <div class="comment_area__form_box__form__hidden_field">
              <%= form.hidden_field :user_id, value: current_user.id %>
              <%= form.hidden_field :post_id, value: @post.id %>
            </div>
            <div class="comment_area__form_box__form__action">
              <%= form.submit "送信", class: "comment_area__form_box__form__action__btn"%>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>