<!DOCTYPE html>
<html>
  <head>
    <title>OurBoard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <%= render 'layouts/header'%>
    <%= render 'layouts/notifications' %>
    <div class="wrapper">
      <%= yield %>
    </div>
    <%= render 'layouts/footer'%>
  </body>
</html>
